<div *ngIf="matchResultsService.matchResults">
  <h2>You played {{matchResultsService.matchResults.moves.player1}}, opponent played {{matchResultsService.matchResults.moves.player2}}</h2>
  <h3>{{matchResultsService.matchResults.message}}</h3>
</div>