<app-nav></app-nav>
<h1>{{ title }}</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <app-opponent-selector></app-opponent-selector>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <app-match-results></app-match-results>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <app-counters></app-counters>
            </div>
          </div>
      </div>
  </div>
</div>
<app-messages></app-messages>
<app-footer></app-footer>
