<app-nav></app-nav>
<div class="container-fluid">
  <h2>{{title}}</h2>
  <div class="row">
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <app-match-results></app-match-results>
          </div>
        </div>
    </div>
  </div>
  <div class="row">   
      <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <app-counters></app-counters>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <app-messages></app-messages>
            </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
