<h2>Choose a shape</h2>
<ul class="shape-selector">
  <li *ngFor="let shape of playableShapes"
    [class.selected]="shape === playerSelectedShape"
    (click)="onSelect(shape)">
    <span class="badge">{{shape.id}}</span> {{shape.name}}
  </li>
</ul>
<app-counters></app-counters>
<app-match-results></app-match-results>
