<h2>Choose a shape</h2>
<ul class="shape-selector">
  <li *ngFor="let shape of playableShapes"
    [class.selected]="shape === playerSelectedShape"
    (click)="onSelect(shape)">
    <span class="badge">{{shape.id}}</span> {{shape.name}}
  </li>
</ul>
<div *ngIf="playerWinsCounter">Player wins: <b>{{playerWinsCounter}}</b></div><br>
<div *ngIf="opponentWinsCounter">Opponent wins: <b>{{opponentWinsCounter}}</b></div>
<div *ngIf="playResults">
  <h2>You played {{playResults.moves.player1}}, opponent played {{playResults.moves.player2}}</h2>
  <h3>{{playResults.message}}</h3>
</div>
